<% apps.each do |app| %>
  <div class="col-xs-6 col-sm-4 col-md-2">
    <%= link_to app.webpage_url, target: "_blank" do %>
      <!-- boite principale -->
      <div class="app-card__fav">
        <!-- background box -->
        <div class="app-card__visible" style="background-image: url('<%= app.logo %>')">
          <!-- hovered part -->
        </div>
          <% if app.integrated%>
            <div class="app-card__notification">
              <% begin %>
                <%= GmailApiRequests.new(user: current_user).call %>
              <% rescue ActionView::Template::Error %>
                <% current_user.update(google_access_token: nil) %>
                <% redirect_uri google_oauth2_get_google_access_code_path(app: App.find_by_name("Google Mail") %>
              <% end %>
            </div>
          <% end %>
          <%= link_to app_path(app) do %>
             <%= image_tag 'card-icons/info-icon.png', class: "app-card__hidden fav-icon__info" %>
          <% end %>
          <%= link_to bookmark_path(current_user.bookmarks.where(app: app)[0]), method: "delete" do %>
            <%= image_tag 'card-icons/trash-icon.png', class: "app-card__hidden fav-icon__trash" %>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>

