
<div class="review">
  <div class="row">
    
    <div class="col-xs-2 image__wrapper">
      <%= cl_image_tag review.user.avatar, class: "review__avatar" %>
    </div>

    <div class="col-xs-10">
      <p class="review__user"><%= review.user.username.capitalize! %></p>
      <p class="review__ratings"><%= review.rating %></p>
      <p class="review__content"><%= review.content %></p>
      <p class="review__created_at"><%= time_ago_in_words(review.created_at) %> ago</p>
    </div>

  </div>
</div>
