<div class="sidebar sidebar__sticky">
  <div class="sidebar__logo">
    <%= link_to root_path do %>
      <span class="sidebar__logo-unhovered"><%= image_tag "NOORA_logo_small.png", height: 50 %></span>
      <span class="sidebar__logo-hovered"><%= image_tag "NOORA_logo.png", height: 50 %></span>
    <% end %>
  </div>
    <ul>
      <% if user_signed_in? %>
        <li class="sidebar__favorite">
          <%= link_to favorite_apps_path do %>
             <%= image_tag 'category-icons/icon-favorite-on.png', class: "sidebar-icon sidebar-icon-hover" %><%= image_tag 'category-icons/icon-favorite-off.png', class: "sidebar-icon" %></i><span class="sidebar__category-name">Favorite</span>
          <% end %>
        </li>
      <% end %>
      <% Category.all.each do |category| %>
          <li>
            <%= link_to apps_path(category: category.name) do %>
              <%= image_tag category.icon, class: "sidebar-icon sidebar-icon-no-hover" %><%= image_tag category.icon_hover, class: "sidebar-icon sidebar-icon-hover" %><div class="sidebar__category-name"><%= category.name %></div>
            <% end %>
          </li>
      <% end %>
    </ul>
  <div class="sidebar__search">
    <div class="sidebar__search-bar">
      <i class="fa fa-search" aria-hidden="true"></i>
      <%= form_tag apps_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          autocomplete: :off,
          class: "form-control form-search sidebar__search-bar-input",
          placeholder: "Find an app..."
        %>
      <% end %>
    </div>
  </div>
</div>
