
<div class="home-container">
  <div class="leitmotiv">
    <h1 class="h1"> All you need</h1><h1 class="h1">as a freelancer,</h1><h1 class="h1">bookmarked.</h1>
    <%= link_to "Discover", apps_path, class: "button" %>
  </div>
  <div class="mock-up">
    <%= image_tag "mockup.png", id: "mock" %>
  </div>
</div>
<div class="value" style="background-image: url(<%= asset_path 'home-back.svg' %>);">
  <div class="grid">
    <div class="box one">
      <div class="value-icon" style="background-image: url(<%= asset_path 'find.png' %>);">

      </div>
      <div class="value-text">
        <p class="value-text__strong">FIND</p>
        <p>Tools that make freelancing a breeze, pre- selected for you by other freelancers. One click away.</p>
      </div>
    </div>
    <div class="box two">
      <div class="value-icon" style="background-image: url(<%= asset_path 'bookmark.png' %>);">
      </div>
      <div class="value-text">
        <p class="value-text__strong">BOOKMARK</p>
        <p>Narrow down your choices. Build your own toolbox by bookmarking the apps that work best for you.</p>
      </div>
    </div>
    <div class="box three">
      <div class="value-icon" style="background-image: url(<%= asset_path 'update.png' %>);">

      </div>
      <div class="value-text">
        <p class="value-text__strong">UPDATE</p>
        <p>Real time updates from your favorite tools brought toge- ther in one place.</p>
      </div>
    </div>
    <div class="box four">
      <div class="value-icon" style="background-image: url(<%= asset_path 'share.png' %>);">

      </div>
      <div class="value-text">
        <p class="value-text__strong">SHARE</p>
        <p>Spread the word. Make your very own collection public.</p>
      </div>
    </div>
  </div>
</div>

