<div class="main-container">
  <div class="sidebar-container"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 titre">
        <h2>Your favorite apps</h2>
      </div>
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
      </li>
      <% @apps.map { |app| app.category }.uniq.each do |category| %>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-<%= category.name.gsub(" ", "-") %>" role="tab" aria-controls="pills-contact" aria-selected="false"><%= category.name %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade active in" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <%= render 'shared/favorite-list', apps: @apps %>
      </div>
      <% Category.all.each do |category| %>
        <div class="tab-pane fade" id="pills-<%= category.name.gsub(" ", "-") %>" role="tabpanel" aria-labelledby="pills-<%= category.name.gsub(" ", "-") %>-tab">
          <%= render 'shared/favorite-list', apps: @apps.where(category: category) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
