<div class="main-container">
  <div class="sidebar-container"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 titre">
        <h2>FROM OUR PICKS </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 header-app-number" >
        <p> We found <%= @apps.count %> apps that may interest you.</p>
      </div>
    </div>

    <div class="row">
      <% @apps.each do |app| %>

        <div class="col-xs-12 col-sm-6">
          <%= link_to app_path(app) do %>
            <div class="app-card">
              <% if app.app_screens.first.present? && !app.app_screens.first.url.nil? %>
                <div class="app-card-image" style="background-image: url('<%= app.app_screens.first.url %>')">    </div>
              <% else %>
                <div class="app-card-image" style="background-image: url('<%= app.logo %>')"></div>
              <% end %>
              <div class="app-card-content">
                <div class="app-card-title">
                  <h4><%= app.name %></h4>
                </div>
                <div class="app-card-description">
                  <p class="short-description"> <%= app.description[0..70] %>...</p>
                  <p class="long-description"> <%= app.description[0..500] %>...</p>
                </div>
              </div>
              <div class="icons-container">
                <%= link_to app_bookmarks_path(app), method: "post", class: "bookmarks-icon", remote: true do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
