<div class="main-container">
  <div class="sidebar-container"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 h2">
        <h2> Discover our selection: </h2>
      </div>
    </div>

    <div class="row">
      <% @apps.each do |app| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to app_path(app) do %>
            <div class="app-card" id="js-bookmark-hook-<%= app.id %>">
              <% if app.app_screens.first.present? && !app.app_screens.first.url.nil? %>
                <div class="app-card__image" style="background-image: url('<%= app.app_screens.first.url %>')">    </div>
              <% else %>
                <div class="app-card__image" style="background-image: url('<%= app.logo %>')"></div>
              <% end %>
              <div class="app-card__content">
                <div class="app-card__title">
                  <h4><%= app.name %></h4>
                </div>
                <div class="app-card__category-tags-container">
                  <p class="app-card__category"><i class="fas fa-tag"></i> <%= app.category.name %></p>
                  <i class="fas fa-star"></i><span class="bookmarks-nb"> <%= app.bookmarks.count %></span>
                </div>
                <div class="app-card__description">
                  <p class="short-description"> <%= app.description[0..100] %>...<b>More info</b></p>
                </div>
              </div>
              <div class="icons-container">
                <div class="star-container">
                  <% if current_user.apps.include? app %>
                      <%= link_to bookmark_path(Bookmark.where(user: current_user, app: app)[0]), method: :delete, remote: :true, class: "full-star-display full-star" do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                  <% else %>
                      <%= link_to app_bookmarks_path(app), method: :post, remote: :true, class: "empty-star-display empty-star" do %>
                        <i class="far fa-star"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
