<div class="main-container">
  <div class="sidebar-container"></div>
  <div class="container">
    <% if @featured %>
      <div class="features">
        <div class="grid-features">
          <div class="box-features one-b">
            <%= link_to app_path(App.find_by_name("Slack")) do %>
              <div class="box-features__main" style="background-image: linear-gradient(to top, #ffffff, transparent), url('<%= asset_path "featura-photo.png"%>');">
                <p class="h4">App of the week</p>
              </div>
            <% end %>
          </div>
          <div class="box-features two-b">
            <%= link_to "http://news.cremedelacreme.io/freelance-best-skills-working-freelancer-remote-student-univeristy/", target: "_blank" do %>
              <div class=" box-features__main " style="background-image: linear-gradient(to top, #ffffff, transparent), url('http://news.cremedelacreme.io/content/images/2017/05/image-134.png');">
                <p class="h4"> [Article] 5 skills to developp as a freelance </p>
              </div>
            <% end %>
          </div>
          <div class="box-features three-b">
            <%= link_to "http://news.cremedelacreme.io/best-freelancing-vs-part-time-job/", target: "_blank" do %>
              <div class=" box-features__main " style="background-image: linear-gradient(to top, #ffffff, transparent), url('http://news.cremedelacreme.io/content/images/2018/01/muhammad-raufan-yusup-254422-1.jpg');">
                <p class="h4"> [Article] Freelancing vs Part-time job </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>



    <div class="row">

        <h2 class="h2"> Discover our selection </h2>

    </div>

    <div class="row">
      <% @apps.each do |app| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <%= link_to app_path(app) do %>
            <div class="app-card" id="js-bookmark-hook-<%= app.id %>">
              <div class="app-card__image" style="background-image: url('<%= app.logo %>')"></div>
              <div class="app-card__content">
                <div class="app-card__title">
                  <h5><%= app.name %></h5>
                </div>
                <div class="app-card__category-tags-container">

                  <p class="app-card__category">
                    <i class="fas fa-tag"></i> <%= app.category.name %> </p>


                  <!-- changement pour avoir une jolie carte. voir aussi le css  -->

                  <p class="bookmarks-nb"> <i class="fas fa-heart"></i> <%= app.bookmarks.count %> </p>

                  <!-- Ce qu'il y avait avant: -->

                  <!-- <i class="fas fa-heart"> <span class="bookmarks-nb"> </i> <%= app.bookmarks.count %> </span> -->

                </div>
                <div class="app-card__description">
                  <p class="short-description"> <%= app.description[0..100] %>...<b> More info</b></p>
                </div>
              </div>
              <div class="icons-container">
                <% if current_user %>
                  <div class="bookmark-container bookmarke<%= current_user.apps.include? app ? 'active' : '' %>">
                    <%= link_to bookmarkerr_path(app), method: :get, remote: :true do %>
                      <% if current_user.apps.include? app %>
                        <i class="fas fa-heart"></i>
                      <% else %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>




  </div>
</div>
