<div class="main-container">
  <div class="sidebar-container"></div>
  <div class="app-show__wrapper">
    <div class="container">
      <div class="row app-show__main-container">

        <div class="col-xs-4">
          <div class="app-show__side ">
            <div class= "app-card__show">
            <div class="app-show__logo" style="background-image: url('<%= @app.logo_url %>');">
              </div>
            </div>
              <%= link_to app_bookmarks_path(@app), method: "post", class: "button app-show__button", remote: true, authenticity_token: true do %>
                  Add to favorites
              <% end %>
              <% if @app.integrated %>
                <%= link_to google_oauth2_get_google_access_code_path(app: @app), class: "button app-show__button" do %>
                  Get real-time info
                <% end %>
              <% end %>
              <%= link_to "More Information", @app.webpage_url, class: "button button-grey app-show__button", target: "_blank" %>
          </div>
        </div>

        <div class="col-xs-8 ">
          <div class="app-show__main">

            <h1 class="app-show__heading"><%= @app.name %></h1>


            <p class="app-show__category"><strong>Category: </strong><%= @app.category&.name %></p>


              <div >
                <% if @app.reviews.present? %>
                <div class="review__average-rating">
                  <strong>Rating: </strong>
                </div>

                  <% @average.times do %>
                      <i class="fa fa-star review__star" aria-hidden="true"></i>
                    <% end %>
                  <% else %>
                    <p style="margin: 0px;"><strong>Rating: </strong>n/a</p>
                  <% end %>

              </div>


            <div class="price-average-wrapper">

              <div>
                <p class="app-show__price">
                  <strong>Price: </strong>
                  <%= link_to "Free", "#", class: "app-show__price" %>
                </p>
              </div>

            </div>


            <p class="app-show__description"><%= @app.description %></p>
            <% if @app.app_screens.present? %>
              <div class = carousel-container>
                <div class="siema">
                  <% @app.app_screens.each do |screen| %>
                    <div>
                      <%= cl_image_tag screen.url_url, class: "app-show__image", width: 600 %>
                    </div>
                  <% end %>
                </div>
                <div class="carousel-button">
                  <button class="prev-screen"> prev</button>
                  <button class="next-screen"> next </button>
                </div>
              </div>
            <% end %>

            <%= simple_form_for [@app, @review] do |f| %>
              <% if @review.errors.any? %>
                <div class="errors-container">
                  <ul>
                    <% @review.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

                <p><strong>Review:</strong></p>

                <div class="star-rating">
                  <input id="star-5" type="radio" name="review[rating]" value="5">
                  <label for="star-5" title="5 stars">
                    <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-4" type="radio" name="review[rating]" value="4">
                  <label for="star-4" title="4 stars">
                    <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-3" type="radio" name="review[rating]" value="3">
                  <label for="star-3" title="3 stars">
                    <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-2" type="radio" name="review[rating]" value="2">
                  <label for="star-2" title="2 stars">
                    <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-1" type="radio" name="review[rating]" value="1">
                  <label for="star-1" title="1 star">
                    <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                </div>

              <%= f.input :content, label: false, placeholder: "write your review..."  %>
              <div class="submit-btn-wrapper">
                <%= f.submit "Post your review", class: "button review__button"  %>
              </div>

            <% end %>
            <% if @reviews %>
              <% @reviews.each do |review| %>
                <%= render 'shared/review', review: review %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
